* {
    box-sizing: border-box;
}

html {
    font-size: $base__font-size;
    background-color: $color__primary;
    color: $color__neutral--dark;
}

a {
    text-decoration: none;
}

.app {
    @include linx($text__link--primary, $text__link--visited, $text__link--hover, $text__link--active);
    background-color: $color__primary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @include modifier('dark') {
        background-color: $color__primary--dark;
    }
}

a.button {
    color: $color__decorative--dark!important;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    border-radius: 41px;
    line-height: 40px;
    font-size: 16px;
    border: 2px solid $color__decorative--dark;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    outline: none;
    letter-spacing: 0.106em;
    padding: 10px 20px;
    &:hover {
        background-color: $color__decorative--dark;
        color: #ffffff!important;
    }
}