.nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: $nav__item--size;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, .05);
    @include element('container') {
        height: 100%;
        height: 100vh;
        position: relative;
        width: $nav__item--size;
        z-index: 2;
        background-color: $color__secondary--dark;
    }
    @include element('list') {
        list-style: none;
        width: $nav__item--size;
        text-align: center;
        padding: 0;
        margin: 0;
        @include element('item') {
            height: $nav__item--size;
            background-color: #fff;
            &:hover {
                -webkit-transition: color .3s ease-in-out;
                transition: color .3s ease-in-out;
                background-color: darken($color: #fff, $amount: 5);
            }
            border-bottom: 1px solid $color__decorative--dark;
            @include modifier('logo') {
                background-color: $color__decorative--dark;
                &:hover {
                    -webkit-transition: color .3s ease-in-out;
                    transition: color .3s ease-in-out;
                    background-color: darken($color: $color__ternary--dark, $amount: 5);
                }
            }
        }
    }
    @include element('link') {
        height: $nav__item--size;
        display: block;
        width: 100%;
        -webkit-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
    }
    @include element('icon') {
        height: 35px;
        line-height: 35px;
        top: 23px;
        position: relative;
        @include modifier('logo') {
            font-size: 40px;
            font-style: italic;
            font-weight: 700;
        }
        @include element('img') {
            height: 35px;
        }
    }
}