body {
  background: #282828;
  color: #ffffff; }

.testing {
  width: 71.42857%;
  color: red; }

h1::before, h1:before {
  margin: 10px 20px 10px 20px;
  color: #ff0000;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  font-weight: normal;
  font-weight: normal; }
